---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import portrait from "../assets/portrait1.jpg";
---

<Layout title="About -- Gabriel Yap">
	<main>
		<section
			class="flex flex-col items-start justify-center gap-4 pt-12 md:flex-row font-extralight"
		>
			<div class="flex w-full md:w-1/2">
				<Image
					src={portrait}
					alt="Portrait"
					width={1920}
					height={1080}
					loading="eager"
					quality={100}
				/>
			</div>

			<div class="flex flex-col w-full md:w-1/2">
				<div class="text-xl">Hello! <br /><br /></div>
				<div class="text-xl">
					As a child, I've always been fascinated by technological
					innovation. One of the first video games I was ever hooked
					onto was Minecraft, and I'd spend hours making texture packs
					and mods. Fascinated by the online world, I became
					determined to one day be a part of a team at the forefront
					of innovation. And so, I majored in Computer Science at UC
					Davis to become a developer.

					<br /><br />
				</div>
				<div class="text-xl">
					I've created projects in many different areas of tech,
					including webscraping scripts, Chrome extensions, and video
					games. However, I would say that web development is the area
					that I have the greatest expertise in. <br /><br /> I
					created this website myself using Astro, and aim to
					consistently receive a perfect 100 Lighthouse score for
					every page! <br /><br />
				</div>
				<div class="text-xl">
					To take a break from the computer, I enjoy learning new
					songs and practicing riffs on the electric guitar. I
					currently play a 2012 Candy Apple Squier Stratocaster, and I
					am looking to upgrade soon! <br /><br />
				</div>
				<div class="text-xl">
					Thank you for reading my short bio, have a nice day! <br
					/><br />
				</div>
				<div class="text-xl">
					Bonus: Check out <a
						href="https://tree-nation.com/certificate/653617e59065c"
						class="underline text-blue-700 dark:text-blue-500">this tree</a
					> I have planted in Tanzania, given to me for making an approved
					open-source contribution during Hacktoberfest 2023!
				</div>
			</div>
		</section>
	</main>
</Layout>

<style>
	@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
</style>
