---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Credits -- Gabriel Yap">
	<main>
		<section
			class="flex flex-col items-center justify-center gap-4 pt-12  font-extralight"
		>
        <a href="https://www.flaticon.com/free-icons/movie" title="movie icons">Movie icons created by iconixar - Flaticon</a>
		<a href="https://www.flaticon.com/free-icons/confetti" title="confetti icons">Confetti icons created by Freepik - Flaticon</a>
		</section>
	</main>
</Layout>

<style>
	@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
</style>
