---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro'
//import "@fontsource/palanquin"
---

<Layout title="Gabriel Yap">
	<main>
		<Hero />
		<Experience />
	</main>

</Layout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
</style>