---
import ExperienceCard from "./ui/ExperienceCard.astro";

---

<section class = "flex flex-col h-screen items-center border-2 border-cyan-800">
    <h1 class = "flex text-4xl text-center">Software Development Experience</h1>
    <div class = 'flex flex-col border-2 border-blue-300 '>   
        <ExperienceCard title = "AIVision Food" body = "My work as a Software Developer Intern at AIVision Food, an AgTech startup from Davis, CA." href = "/" thumbnail = "superman"/>
    </div>
 
</section>