---
import ExperienceCard from "./ui/ExperienceCard.astro";

---

<section class = "flex flex-col items-center py-12 border-0 border-cyan-800" id = "experiences">
    <h1 class = "flex text-4xl text-center font-light">Software Development Experience</h1>
    <div class = 'grid auto-rows-fr mt-8 gap-8 border-0 border-blue-300 '>   
        <ExperienceCard title = "AIVision Food" body = "My work as a Software Developer Intern at AIVision Food, an AgTech startup from Davis, CA." href = "/experiences/aivf" thumbnail = "AIVFLogo" repo = ""/>
        <ExperienceCard title = "GDSC @ UC Davis" body = "During my time at UC Davis, I joined the Google Developer Student Club as a Frontend Engineer." href = "/experiences/gdsc" thumbnail = "GDSCLogo" repo = ""/>
    </div>
 
</section>