---
import { Icon } from 'astro-icon'
---

<footer class = "flex flex-col p-12 gap-2">
    <div class = "flex justify-center items-center gap-2">
        <a href =  "mailto: gyapgg@gmail.com" aria-label = "email">
            <Icon class = "h-8" name="mdi:email-outline" />
        </a>
        <a href = "https://github.com/gabrielyap" aria-label = "github">
            <Icon class = "h-8" name="mdi:github" />
        </a>
        <a href = "https://www.linkedin.com/in/gabriel-yap26/" aria-label = "linkedin">
            <Icon class = "h-8" name="mdi:linkedin" />
        </a> 
        
    </div>

    <p class = "text-center font-thin">
        Copyright © {new Date().getFullYear()}
        <a href = "https://github.com/gabrielyap" aria-label = "Gabriel Yap"> Gabriel Yap</a>
        All rights reserved. 
    </p>
    <a class = "text-xs text-end font-thin text-gray-400 w-fit ml-auto" href="/credits">Credits</a>
</footer>