---
import { Image } from 'astro:assets';
import portrait from "../assets/superman.jpg";
---

<section class = "flex flex-col-reverse h-screen items-center justify-center sm:flex-row border-2  border-red-500 text-4xl">
    <div class = 'flex w-1/2'>   
        Hi! I'm Gabriel, a fullstack developer based in California.
    </div>
    <div class = 'flex w-1/2'>
        <Image src = {portrait} alt = "asd" width = {600} height = {600} aspectRatio="4:4" loading = "waiting"/>

    </div>
    
</section>