---
import ProjectCard from "./ui/ProjectCard.astro";

---

<section class = "flex flex-col justify-center items-center mt-32 border-0 border-cyan-800">
    <h1 class = "flex text-4xl text-center font-light">Personal Projects</h1>
    <div class = 'grid grid-cols-2 place-items-center mt-8 gap-8 border-0 border-blue-300 '>
        <ProjectCard title = "Mongo Museum" body = "A fullstack image sharing app I made using the MERN stack." href = "/projects/mongomuseum" thumbnail = "camera-flat"/>
        <ProjectCard title = "GDSC @ UC Davis" body = "During my time at UC Davis, I joined the Google Developer Student Club as a Frontend Engineer." href = "/experiences/gdsc" thumbnail = "GDSCLogo"/>
        <ProjectCard title = "GDSC @ UC Davis" body = "During my time at UC Davis, I joined the Google Developer Student Club as a Frontend Engineer." href = "/experiences/gdsc" thumbnail = "GDSCLogo"/>
        <ProjectCard title = "GDSC @ UC Davis" body = "During my time at UC Davis, I joined the Google Developer Student Club as a Frontend Engineer." href = "/experiences/gdsc" thumbnail = "GDSCLogo"/>

    </div>
    <!-- <div class = 'grid grid-cols-2 auto-rows-fr mt-8 gap-8 border-0 border-blue-300 '>   
        <div>01</div>
        <div>02</div>
        <div>03</div>
        <div>04</div>
    </div> -->
 
</section>