---
import ExperienceCard from "./ui/ExperienceCard.astro";
import ProjectCard from "./ui/ProjectCard.astro";
---

<section
    class="flex flex-col justify-center items-center mt-8 md:mt-32 border-0 border-cyan-800"
    id="projects"
>
    <h1 class="flex text-4xl text-center font-light">Personal Projects</h1>
    <div
        class="grid grid-cols-1 mt-8 gap-8 md:hidden border-0 border-blue-300"
    >
        <ExperienceCard
            title="Mongo Museum"
            body="A live, fullstack image sharing app I made using the MERN stack. Users can create an account to sign in, upload an image, and explore the gallery of images. Users can also comment on posts, as well as search for images by labels! "
            href="/projects/mongomuseum"
            thumbnail="camera-flat"
            repo="https://github.com/gabrielyap/mongo-museum"
        />
        <ExperienceCard
            title="MyMovieList"
            body='A movie searching app made using the T3 Stack (TypeScript, Tailwind, Next.js). This app uses the "The Movie Database" API to make searchy queries based on movie title, popularity, rating, and release date. '
            href="/projects/mymovielist"
            thumbnail="watching-a-movie"
            repo="https://github.com/gabrielyap/mymovielist"
        />
        <ExperienceCard
            title="Leetcode Blurring"
            body="Have you ever tried revisiting a Leetcode problem for practice, only to have the solution spoiled to you by your previous solution? This Google Chrome extension censors the code editor until you decide to reset the editor to default code! "
            href="/projects/lcblurring"
            thumbnail="leetcodelogo2"
            repo="https://github.com/gabrielyap/lc-blurring"
        />
        <ExperienceCard
            title="Lucy's Trials"
            body="Play as a melee knight or ranged sorceress, and battle your way through hoards of goblins in a procedurally generated dungeon! This is a 2D, 8-Bit Roguelike built with Unity and C# that I made with my team in ECS189L - Gameplay Programming at UC Davis. "
            href="/projects/lucy"
            thumbnail="lucyhome"
            repo="https://github.com/ConanoftheUnreal/ECS189L-Final-Project"
        />
    </div>
    <div
        class="hidden md:grid grid-cols-2 place-items-center mt-8 gap-8 border-0 border-blue-300"
    >
        <ProjectCard
            title="Mongo Museum"
            body="A live, fullstack image sharing app I made using the MERN stack. Users can create an account to sign in, upload an image, and explore the gallery of images. Users can also comment on posts, as well as search for images by labels! "
            href="/projects/mongomuseum"
            thumbnail="camera-flat"
            repo="https://github.com/gabrielyap/mongo-museum"
        />
        <ProjectCard
            title="MyMovieList"
            body='A movie searching app made using the T3 Stack (TypeScript, Tailwind, Next.js). This app uses the "The Movie Database" API to make searchy queries based on movie title, popularity, rating, and release date. '
            href="/projects/mymovielist"
            thumbnail="watching-a-movie"
            repo="https://github.com/gabrielyap/mymovielist"
        />
        <ProjectCard
            title="Leetcode Blurring"
            body="Have you ever tried revisiting a Leetcode problem for practice, only to have the solution spoiled to you by your previous solution? This Google Chrome extension censors the code editor until you decide to reset the editor to default code! "
            href="/projects/lcblurring"
            thumbnail="leetcodelogo2"
            repo="https://github.com/gabrielyap/lc-blurring"
        />
        <ProjectCard
            title="Lucy's Trials"
            body="Play as a melee knight or ranged sorceress, and battle your way through hoards of goblins in a procedurally generated dungeon! This is a 2D, 8-Bit Roguelike built with Unity and C# that I made with my team in ECS189L - Gameplay Programming at UC Davis. "
            href="/projects/lucy"
            thumbnail="lucyhome"
            repo="https://github.com/ConanoftheUnreal/ECS189L-Final-Project"
        />
    </div>
    <!-- <div class = 'grid grid-cols-2 auto-rows-fr mt-8 gap-8 border-0 border-blue-300 '>   
        <div>01</div>
        <div>02</div>
        <div>03</div>
        <div>04</div>
    </div> -->
</section>
