---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import mymovielistsearch from "../../assets/mymovielistsearch.png";
import mymovielisthome from "../../assets/mymovielisthome.png";
---

<Layout title="MyMovieList -- Gabriel Yap">
    <main class="flex flex-col mt-12 border-0 border-blue-500">
        <div class="flex flex-col">
            <h1 class="flex justify-center text-6xl">MyMovieList</h1>
            <hr
                class="w-48 h-1 mx-auto my-4 bg-gray-200 border-0 rounded md:my-10 dark:bg-gray-700"
            />
            <h2 class="flex justify-center mx-auto w-full md:w-1/2 font-light">
                A website used to search for movies using the T3 stack
                (Tailwind, Typescript, Next.js) and the "The Movie Database"
                API. Users can query their search results by popularity, rating,
                and release date. They can also search by title, which will
                match movies with the most related title to the query. My main
                goal for the project was to become more familiar with
                Typescript. Typescript's early error-catching features made
                development more clear and I was able to fix logistical errors
                before they appeared as a larger problem later.
            </h2>

            <div class="flex justify-center mx-auto w-full md:w-3/4 font-light my-10">
                <Image
                    src={mymovielisthome}
                    alt="mymovielisthome"
                    width={1525}
                    height={884}
                    loading="eager"
                    quality={100}
                />
            </div>
            <div class="flex justify-center mx-auto w-full md:w-3/4 font-light my-10">
                <Image
                    src={mymovielistsearch}
                    alt="mymovielistsearch"
                    width={1525}
                    height={884}
                    loading="eager"
                    quality={100}
                />
            </div>
        </div>
    </main>
</Layout>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
</style>
